body{
  background-color:hsl(27, 66%, 92%);
  Font-size: 18px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.top-bar{
  background-color: hsl(10, 79%, 65%);
  display:flex;
  width: 33%;
  border-radius: 20px;
  margin: auto;
  margin-top: 10%;
  flex-direction: row;
}
p, h3{ 
  margin-left: 5%;
}

.main-bar{
  background-color: hsl(33, 100%, 98%);
  display: flex;
  width: 33%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  flex-direction: column;
}

.main-bar h1,h2{
  color:hsl(25, 47%, 15%);
}

.main-bar h2{
  margin-left: 5%;
}
.main-bar p{
  color:hsl(25, 47%, 15%);
}

.bottom{
  display: flex;
  flex-direction: row;
  
}

.first-half{
  width:50%;
  padding: 2%;
}

.second-half{
  width: 50%;
  margin-left: 30%;
  margin-top: 6%
}

.circle-container{
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.brown-circle{
  background-color: hsl(25, 47%, 15%);
  border-radius: 50%;
  border: 2px solid hsl(25, 47%, 15%);
  height: 35%;
  width: 35%;
  margin: auto;
 
}
.white-circle{
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  height: 95%;
  width: 95%;
  margin-left: 55%;
 
}

.balance{
  width: 80%;
}